*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {


  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-blue:#0084e3;
  --dark-text:#374552;
  --text-dark:#606161;
  --text-dark-2:#d3cfc1;
}

html,body{
  height: 100%;
}
html{
  font-size: 62.5%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  line-height: calc(1em + 0.5rem);
}
img,svg{
  max-width: 100%;
  display: block;
}

svg{
  width: 2rem;
  height: 2rem;
}

input,select{
  font-size: 1rem;
}

p,h1,h2,h3,h4,h5,h6{
  overflow-wrap: break-word;
}
